hacker1-satheesh-adf/PartialArmTemplates/ArmTemplate_5_15_2019_15_32_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "hacker1-satheesh-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VanArsdel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyData",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSetting"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSetting",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SqlServerActors",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "VanArsdelSink",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "array"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerActors')]",
				"[concat(variables('factoryId'), '/datasets/VanArsdelSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerActors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VanArsdel_SqlServer",
					"type": "LinkedServiceReference"
				},
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ActorID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ActorName",
						"type": "varchar"
					},
					{
						"name": "Gender",
						"type": "char"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Actors]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/VanArsdel_Actors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerCustomers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VanArsdel_SqlServer",
					"type": "LinkedServiceReference"
				},
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "AddressLine1",
						"type": "varchar"
					},
					{
						"name": "AddressLine2",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "char"
					},
					{
						"name": "ZipCode",
						"type": "char"
					},
					{
						"name": "PhoneNumber",
						"type": "char"
					},
					{
						"name": "CreatedDate",
						"type": "date"
					},
					{
						"name": "UpdatedDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Customers]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerMovieActors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VanArsdel_SqlServer",
					"type": "LinkedServiceReference"
				},
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "MovieActorID",
						"type": "uniqueidentifier"
					},
					{
						"name": "MovieID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ActorID",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[MovieActors]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/VanArsdel_MovieActors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"container": "vanarsdel"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/VanArsdelSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"container": "vanarsdel"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetTableListAndTriggerCopyData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_VanArsdel_tables",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'dbo'"
							},
							"dataset": {
								"referenceName": "SqlServerActors",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "TriggerCopy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_VanArsdel_tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VanArsdel",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"tableList": "@activity('LookupTableList').output.value"
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerActors')]",
				"[concat(variables('factoryId'), '/pipelines/VanArsdel')]"
			]
		}
	]
}